.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: var(--size-4);
  background-color: #fff;
  box-shadow: 0 0.15rem 1.5rem hsla(0, 0%, 0%, .1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__social {
  display: none;
}

.header__contact {
  display: none;
}

.header__logo {
  width: var(--size-7);
  height: var(--size-7);
}

.header__logo img {
  width: 100%;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.header__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--size-5);
}

.header__nav-item--home,
.header__nav-item--basic {
  display: none;
}

.header__nav-item--lang a,
.header__nav-item--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-5);
}

.header__nav-list--mobile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 10%, 0.85);
  position: fixed;
  top: 0;
  left: 0;
}

.header__nav-item--mobile {
  width: 100%;
  margin: var(--size-3) 0;
}

.header__nav-item--mobile a {
  color: #fff;
}

.header__nav-item--close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-6);
  height: var(--size-6);
  padding: var(--size-2);
  background-color: var(--primary);
  border-radius: 100%;
  position: absolute;
  top: var(--size-5);
  right: var(--size-5);
}

@media only screen and (min-width: 500px) {
    
  .header__social {
    display: flex;
    justify-content: center;
  }

  .header__social-icon {
    width: var(--size-5);
    height: var(--size-5);
    margin: 0 var(--size-2);
    opacity: .65;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__nav {
    display: flex;
    width: 16rem;
    margin-left: 0;
    text-align: right;
  }

  .header__nav-list {
    margin-left: auto;
  }
}

@media only screen and (min-width: 750px) {

  .header__social,
  .header__logo {
    order: -1;
  }

  .header__contact {
    display: flex;
    flex-flow: column nowrap;
  }

  .header__contact a {
    color: blue;
    font-size: var(--size-3);
    font-weight: bold;
  }

  .header__contact a:nth-child(2) {
    margin-top: var(--size-1);
  }

  .header__contact a::before {
    display: inline-block;
    width: 4.5rem;
    margin-right: var(--size-2);
    color: var(--text-color);
    font-weight: normal;
    text-align: right;
  }

  .header__contact a:nth-child(1):before {
    content: 'email: ';
  }

  .header__contact a:nth-child(2):before {
    content: 'tel: ';
  }

  .header__nav {
    width: calc(100% + 2 * var(--size-4));
    margin: calc(-1 * var(--size-4));
    margin-top: var(--size-4);
    padding: var(--size-2);
    background-color: var(--gray-1);
  }

  .header__nav-list {
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }

  .header__nav-item {
    margin: 0 var(--size-3);
  }

  .header__nav-item--home,
  .header__nav-item--basic {
    display: flex;
  }

  .header__nav-item--home {
    margin-right: auto;
  }

  .header__nav-item--home a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-5);
  }

  .header__nav-item--basic {
    position: relative;
  }

  .header__nav-item--basic::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: 150ms ease-in-out;
  }

  .header__nav-item--basic:hover::after {
    transform: scaleX(1);
  }

  .header__nav-item--lang:nth-child(even) {
    margin-left: auto;
  }

  .header__nav-item--lang:nth-child(odd) {
    margin-left: var(--size-1);
  }

  .header__nav-item--menu {
    display: none;
  }
}


@media only screen and (min-width: 800px) {

  .header__nav-item--basic {
    margin: 0 var(--size-4);
  }

  .header__nav-item--basic:nth-child(2) {
    margin-left: var(--size-6);
  }
}