.projects {
  margin-top: var(--size-4);
}

.projects__heading {
  margin-bottom: calc(-1 * var(--size-4));
}

.projects__section {
  margin-top: var(--size-7);
}

.projects__description p {
  margin-top: 0.5em;
}

.projects__img {
  display: flex;
  max-height: 30rem;
  margin-top: var(--size-6);
}

.projects__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media only screen and (min-width: 750px) {

  .projects__section {
    display: flex;
  }

  .projects__description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: calc(50% - var(--size-5));
  }

  .projects__img {
    width: calc(50% - var(--size-5));
    margin: 0 0 0 auto;
  }
}